@font-face {
  font-family: Gagalin-Regular;
  src: url(../fonts/Gagalin-Regular.otf);
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Lifehack-Medium;
  src: url(../fonts/Lifehack-Medium.otf);
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu/ubuntu-b-webfont.ttf);
  font-weight: 700;
  font-style: normal; }
html {
  font-size: rem(16px); }

@media screen and (max-width: 480px) {
  html {
    font-size: 13px; } }
@media screen and (max-width: 760px) {
  html {
    font-size: 14px; } }
body, html {
  height: 100%; }

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 100%; }

.maincontent {
  height: 100%;
  transition: 1s;
  will-change: transform;
  min-height: 40.625rem; }

.section {
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden; }

.hero {
  background: url(../img/bg/back.jpg) 50% no-repeat;
  background-size: cover;
  position: relative; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

* {
  box-sizing: border-box; }

article, aside, footer, header, hgroup, main, nav, section {
  display: block; }

.container {
  margin: 0 auto;
  position: relative;
  width: 68.75rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

* {
  box-sizing: border-box; }

div {
  display: block; }

body {
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-family: Ubuntu,Helvetica,sans-serif;
  font-weight: 300;
  color: #2f3234; }

.header, .header__links {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }

.header {
  padding-top: .75rem;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.logo {
  display: inline-block;
  position: relative;
  z-index: 4; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

* {
  box-sizing: border-box; }

a:-webkit-any-link {
  color: white;
  cursor: pointer; }

.header__menu {
  -webkit-box-flex: 1;
  flex: 1;
  text-align: right;
  margin-right: 1.25rem; }

.nav {
  display: inline-block;
  vertical-align: middle; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

ul {
  padding: 0;
  margin: 0; }

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px; }

.menu-acco:after, .nav__list:after, .order__form:after, .team-acco__content:after {
  clear: both; }

.menu-acco:after, .menu-acco:before, .nav__list:after, .nav__list:before, .order__form:after, .order__form:before, .team-acco__content:after, .team-acco__content:before {
  content: "";
  display: table; }

.nav__item {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle; }

ul li {
  list-style: none; }

* {
  box-sizing: border-box; }

li {
  display: list-item;
  text-align: -webkit-match-parent; }

.nav__item:after, .nav__link {
  display: inline-block;
  vertical-align: middle; }

.nav__item:after {
  content: "";
  width: .25rem;
  height: .25rem;
  border-radius: 50%;
  background: #fff;
  margin: 0 .75rem; }

.nav__link {
  font-size: .8125rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-family: Ubuntu,Helvetica,sans-serif;
  font-weight: 500; }

.nav__item:after, .nav__link {
  display: inline-block;
  vertical-align: middle; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

.nav__item:after, .nav__link {
  display: inline-block;
  vertical-align: middle; }

.nav__item:after {
  content: "";
  width: .25rem;
  height: .25rem;
  border-radius: 50%;
  background: #fff;
  margin: 0 .75rem; }

.header, .header__links {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }

.order-link {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  padding: .5625rem 0;
  margin-left: 2%;
  min-width: 5.3125rem; }

.btn {
  display: inline-block;
  vertical-align: top;
  background: #e45028;
  font-size: .8125rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: .3125rem;
  padding: .5625rem 1rem;
  font-family: Ubuntu,Helvetica,sans-serif;
  font-weight: 500; }

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 1.875rem;
  display: none; }

@media screen and (max-width: 760px) {
  .hamburger-menu-link {
    display: flex; } }
.hamburger-menu-link__bars, .hamburger-menu-link__bars:after, .hamburger-menu-link__bars:before {
  background: #fff;
  width: 1.5rem;
  height: .3125rem;
  border-radius: .1875rem; }

.hamburger-menu-link__bars:before {
  top: 0; }

.hamburger-menu-link__bars:after, .hamburger-menu-link__bars:before {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:after, .hamburger-menu-link__bars:before {
  background: #fff;
  width: 1.5rem;
  height: .3125rem;
  border-radius: .1875rem; }

.hamburger-menu-link__bars:after {
  bottom: 0; }

.hamburger-menu-link__bars:after, .hamburger-menu-link__bars:before {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:after, .hamburger-menu-link__bars:before {
  background: #fff;
  width: 1.5rem;
  height: .3125rem;
  border-radius: .1875rem; }

.hero__container {
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: 15%; }

@media screen and (max-width: 760px) {
  .hero__container {
    flex-direction: column;
    align-items: center; } }
@media screen and (max-width: 480px) {
  .hero__container {
    padding: 0 10%; } }
.hero__container, .hero__content {
  display: -webkit-box;
  display: flex; }

.hero__content {
  display: flex; }

@media screen and (max-width: 760px) {
  .hero__content {
    flex-direction: column;
    align-items: center; } }
@media screen and (max-width: 480px) {
  .hero__content {
    padding-top: 0 10; } }
.hero__left, .hero__right {
  float: left;
  width: 50%; }

.hero__img {
  display: inline-block;
  max-width: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 80%;
  max-height: 100%; }

.hero__right {
  padding-top: 7.1875rem; }

@media screen and (max-width: 760px) {
  .hero__right {
    padding-top: 0; } }
.hero__left, .hero__right {
  float: left;
  width: 50%; }

@media screen and (max-width: 480px) {
  .hero__left, .hero__right {
    width: 100%; } }
.section__title {
  color: #f9b43b;
  font-size: 4.5rem;
  font-family: Gagalin-Regular,Helvetica,sans-serif;
  margin-bottom: .75rem; }

.hero__desc {
  font-size: 4.0625rem;
  color: #fff;
  font-family: Lifehack-Medium;
  text-transform: lowercase;
  line-height: 1em; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

.best {
  background: url(../img/bg/best.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background-position: 50%; }

.section__title.section__title_black {
  color: #2f3234; }

.best .section__title {
  margin-bottom: 5rem; }

.best__item, .best__list {
  display: -webkit-box;
  display: flex; }

@media screen and (max-width: 760px) {
  .best__list {
    flex-direction: column; } }
.best__icon-pic {
  width: 90%;
  height: 6.25rem; }

.best__title {
  font-size: 1.5rem;
  font-family: Lifehack-Medium;
  color: #2f3234;
  margin-bottom: 1.25rem; }

@media screen and (max-width: 480px) {
  .best__desc {
    text-align: left; } }
* {
  box-sizing: border-box; }

div {
  display: block; }

.best__item {
  margin-bottom: 3.125rem;
  padding: 0 .9375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

@media screen and (max-width: 480px) {
  .best__item {
    flex-direction: row; } }
.best__item .container {
  margin: 0 auto;
  position: relative;
  width: 68.75rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.best__item .text-block p {
  font-size: .875rem;
  line-height: 1.8; }

.best__item p {
  padding: 0;
  margin: 0; }

.best__item * {
  box-sizing: border-box; }

.best__item p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.best__item .reviews {
  background: #000; }

.best__item article, .best__item aside, .best__item details, .best__item figcaption, .best__item figure, .best__item footer, .best__item header, .best__item main, .best__item menu, .best__item nav, .best__item section, .best__item summary {
  display: block; }

.best__item .reviews__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; }

.best__item .reviews__item {
  width: 25%;
  height: 50%;
  position: relative; }

@media screen and (max-width: 760px) {
  .best__item .reviews__item {
    width: 50%;
    height: 25%; } }
.best__item ul li {
  list-style: none; }

.best__item .review {
  position: relative;
  width: 100%;
  height: 100%; }

.best__item .review__photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.best__item .review__hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  padding: 17% 12% 0;
  transition: .3s;
  z-index: 1; }

@media screen and (max-width: 760px) {
  .best__item .review__hover {
    padding-top: 6%; } }
.best__item .review__title {
  color: #fff;
  font-family: Gagalin-Regular,Helvetica,sans-serif;
  font-size: .875rem;
  margin-bottom: 1.5625rem; }

.best__item .review__shorttext, .best__item .review__view {
  color: #fff;
  font-family: Ubuntu,Helvetica,sans-serif; }

.best__item .review__shorttext {
  font-size: .875rem;
  font-weight: 300;
  margin-bottom: .8125rem; }

@media screen and (max-width: 480px) {
  .best__item .review__shorttext {
    display: none; } }
.best__item .review__view {
  border-radius: .3125rem;
  background-color: #2f3234;
  padding: .5rem .75rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .75rem;
  transition: .3s; }

.best__item .review__shorttext, .best__item .review__view {
  color: #fff;
  font-family: Ubuntu,Helvetica,sans-serif; }

.best__item .review:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  transition: .3s; }

.container {
  margin: 0 auto;
  position: relative;
  width: 68.75rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.text-block p {
  font-size: .875rem;
  line-height: 1.8; }

p {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.reviews {
  background: #000; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

.reviews__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; }

.review {
  position: relative;
  width: 100%;
  height: 100%; }

.review__photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.review__hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  padding: 17% 12% 0;
  transition: .3s;
  z-index: 1; }

.review__title {
  color: #fff;
  font-family: Gagalin-Regular,Helvetica,sans-serif;
  font-size: .875rem;
  margin-bottom: 1.5625rem; }

.review__shorttext, .review__view {
  color: #fff;
  font-family: Ubuntu,Helvetica,sans-serif; }

.review__shorttext {
  font-size: .875rem;
  font-weight: 300;
  margin-bottom: .8125rem; }

.review__view {
  border-radius: .3125rem;
  background-color: #2f3234;
  padding: .5rem .75rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .75rem;
  transition: .3s; }

.review__shorttext, .review__view {
  color: #fff;
  font-family: Ubuntu,Helvetica,sans-serif; }

.review:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  transition: .3s; }

/*# sourceMappingURL=hero-best-review.css.map */
