$hd: 1200px;
        $laptop: 992px;
                $phones : 480px;
        $tablets: 760px; 
        
        
            
            @mixin tablets {
                @media screen and (max-width: 760px){
        @content;
                }
            } 
        
            @mixin phones {
                @media screen and (max-width: 480px){
        @content;
                }
            }


            html{
                font-size: rem(16px);
          
                @include phones{
                    font-size: 13px;
                }
          
                @include tablets{
                  font-size: 14px;
              }
            }
  
            
        .order {
            background: url(../img/bg/order.jpg) 50% no-repeat;
            background-size: cover;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            @include tablets{
                flex-direction: column;
                align-items: center;
            }
        }
    
        
  
        .order .section__title {
            text-align: center;
        }
        .section__title {
            color: #f9b43b;
            font-size: 4.5rem;
            font-family: Gagalin-Regular,Helvetica,sans-serif;
            margin-bottom: .75rem;
        }
        .order__form {
            margin-left: -5%;

            @include tablets {
                padding: 0 10%;
                flex-direction: column;
                margin-left: 0;
            }

        }
        div {
            display: block;
        }
         .order__form:after, .order__form:before {
            content: "";
            display: table;
        }
         .order__form:after {
            clear: both;
        }
     
        
        form {
            display: block;
            margin-top: 0em;
        }
        .order__form-col {
            float: left;
            width: 45%;
            margin-left: 5%;

            @include tablets {
                width: 100%;
                margin-left: 0;
            }

        }
       
        .order__form-block {
            display: block;
            width: 100%;
        }
        .order__form-label {
            margin-bottom: 1.0625rem;
            font-family: Ubuntu,Helvetica,sans-serif;
            font-weight: 300;
            color: #fff;
            font-size: .875rem;
        }
        label {
            cursor: default;
        }
        .order__form-input {
            font-size: .875rem;
            padding: .625rem;
            padding: .3125rem .625rem;
            border: .0625rem solid #d1cfcb;
            border-radius: .3125rem;
            width: 100%;
        }
        button, input {
            overflow: visible;
        }
    button, input, textarea {
        font: inherit;
        margin: 0;
    }
    input {
        -webkit-appearance: textfield;
        background-color: white;
        -webkit-rtl-ordering: logical;
        cursor: text;
        padding: 1px;
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }
  
    input, textarea,  button {
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        margin: 0em;
        font: 400 13.3333px Arial;
    }
   
    .order__form-row_double {
        margin-left: -1.25rem;
    }
  
    .order__form-row_double .order__form-block {
        width: calc(100% / 2 - 1.25rem);
        margin-left: 1.25rem;
    }
    
   

    .order__form-input {
        font-size: .875rem;
        padding: .625rem;
        padding: .3125rem .625rem;
        border: .0625rem solid #d1cfcb;
        border-radius: .3125rem;
        width: 100%;
    }
    .order__form-row_quatro {
        margin-left: -1.25rem;
    }
    .order__form-row {
        margin-bottom: 1rem;
        display: -webkit-box;
        display: flex;
    }
    .order__form-row_quatro .order__form-block {
        width: calc(100% / 4 - 1.25rem);
        margin-left: 1.25rem;
    }

    
    button, input, textarea {
        font: inherit;
        margin: 0;
    }

    .order__radio {
        position: relative;
        white-space: nowrap;
        margin-right: 1.25rem;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    .order__radio-elem {
        position: absolute;
        top: 0;
        left: -624.9375rem;
    }
    [type=checkbox], [type=radio] {
        box-sizing: border-box;
        padding: 0;
    }
    input[type="radio" i] {
        margin: 3px 3px 0px 5px;
    }
    
    input[type="radio" i] {
        -webkit-appearance: radio;
        box-sizing: border-box;
    }
 
    input[type="radio" i], input[type="checkbox" i] {
        background-color: initial;
        cursor: default;
        margin: 3px 0.5ex;
        padding: initial;
        border: initial;
    }
  
    input {
        -webkit-appearance: textfield;
        background-color: white;
        -webkit-rtl-ordering: logical;
        cursor: text;
        padding: 1px;
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }
    

    input, textarea, button {
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        margin: 0em;
        font: 400 13.3333px Arial;
    }
  
    input, textarea, button {
        -webkit-writing-mode: horizontal-tb !important;
    }
    .order__radio-fake {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #fff;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    .order__radio-fake:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 50%;
        background: #e35028;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        transition: width .3s,height .3s;
    }

    .order__form-button {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1.25rem;
        border: 0;
        background: #e35028;
        font-size: .8125rem;
        text-transform: uppercase;
        border-radius: .3125rem;
        color: #fff;
        font-family: Ubuntu,Helvetica,sans-serif;
        padding: .625rem .9375rem;
        cursor: pointer;
    }
    
    [type=reset], [type=submit], button, html [type=button] {
        -webkit-appearance: button;
    }
    .order__form-button_reset {
        padding-left: 0;
        padding-right: 0;
        text-transform: none;
        background: transparent;
    }
     .order__form:after {
        clear: both;
    }
    .order__form:after, .order__form:before {
        content: "";
        display: table;
    }

    .order__radio-title {
        display: inline-block;
        vertical-align: middle;
        font-size: .875rem;
        color: #fff;
        margin-left: .625rem;
    }
    img {
        border-style: none;
    }
    