$hd: 1200px;
$laptop: 992px;
        $phones : 480px;
$tablets: 760px; 

    
@mixin tablets {
  @media screen and (max-width:  $tablets){
@content;
  }
} 

@mixin phones {
  @media screen and (max-width: $phones){
@content;
  }
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}
body {
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-family: Ubuntu,Helvetica,sans-serif;
  font-weight: 300;
  color: #2f3234;
}
.burgers {
  background: #f9b43b;
  background: linear-gradient(180deg, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }

.container {
  margin: 0 auto;
  position: relative;
  width: 68.75rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.burger-slider-wrap {
  position: relative;
  }

.burger-slider__btn_next {
  right: -1.25rem; }

.burger-slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  fill: #fff;
  z-index: 20; }

.burger-slider__btn_next svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

  .burger-slider__btn_prev svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  

.burger-slider__arrow {
  width: 100%;
  height: 100%;
   
 }



.burger-slider__btn_prev {
  left: -1.25rem; }

.burger-slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1.875rem;
  height: 1.25rem;
  fill: #fff;
  z-index: 2; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

* {
  box-sizing: border-box; }


.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1; }

ul {
  padding: 0;
  margin: 0; }


ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0); }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.burgers-slider__item {
  position: relative;
  padding-bottom: 5.3125rem;
 
  display: flex; }

.burger-weight {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: .5;

@include tablets{
  top: 0;
  right: 0;
bottom: auto;
left: auto;}}

.burger-weight__measure {
  background: url(../img/icons/kkal.svg) 50% no-repeat;
  width: 4.0625rem;
  height: 3.75rem;
  position: relative;
  background-size: contain; }

.burger-weight__amount, .burger-weight__title {
  text-align: center;
  color: #fff;
  font-family: Gagalin-Regular,Helvetica,sans-serif; }

.burger-weight__amount {
  position: absolute;
  bottom: .5rem;
  left: 52%;
  transform: translateX(50%);
  text-align: center;
  color:white;
}

.burger-weight__title {
  font-size: .875rem; }

.burger-weight__amount, .burger-weight__title {
  text-align: center;
  color: #fff;
  font-family: Gagalin-Regular,Helvetica,sans-serif; }

.burgers-slider__left {
  text-align: center;
  -webkit-box-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center; }

.burgers-slider__left, .burgers-slider__right {
  -webkit-box-flex: 1;
  flex: 1; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

.burgers-slider__pic {
  max-width: 98%;
  max-height: 18.75rem;
  width: auto !important; }

img {
  border-style: none; }

  .section__title.section__title_white {
    color: #fff;
}
.burgers .section__title {
    margin-bottom: .9375rem;
}
.burgers-slider__right .section__title {
    line-height: 1.1em;
}
.section__title {
    color: #f9b43b;
    font-size: 4.5rem;
    font-family: Gagalin-Regular,Helvetica,sans-serif;
    margin-bottom: .75rem;
}



div {
    display: block;
}

ul li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.burgers-slider__text {
    color: #fff;
    margin-bottom: 1.125rem;
}

.text-block p {
    font-size: .875rem;
    line-height: 1.8;
}

p {
    padding: 0;
    margin: 0;
}


p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.burgers-slider__price {
    display: inline-block;
    vertical-align: middle;
    color: #e35028;
    font-family: Gagalin-Regular,Helvetica,sans-serif;
}
.burgers-slider__price-amount {
    font-size: 4.5rem;
}
.burgers-slider__price-amount, .burgers-slider__price-measure {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
}
.burgers-slider__price-measure {
    font-size: 1.875rem;
}

.burgers-slider__buy {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 2rem;
}
.btn {
    display: inline-block;
    vertical-align: top;
    background: #e45028;
    font-size: .8125rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: .3125rem;
    padding: .5625rem 1rem;
    font-family: Ubuntu,Helvetica,sans-serif;
    font-weight: 500;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}