@font-face {
  font-family: Gagalin-Regular;
  src: url(../fonts/Gagalin-Regular.otf);
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Lifehack-Medium;
  src: url(../fonts/Lifehack-Medium.otf);
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu/ubuntu-b-webfont.ttf);
  font-weight: 700;
  font-style: normal; }
html {
  font-size: rem(16px); }
  @media screen and (max-width: 480px) {
    html {
      font-size: 13px; } }
  @media screen and (max-width: 760px) {
    html {
      font-size: 14px; } }

body, html {
  height: 100%; }

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 100%; }

.maincontent {
  height: 100%;
  transition: 1s;
  will-change: transform;
  min-height: 40.625rem; }

.team {
  background: url(../img/bg/team.jpg) 50% no-repeat;
  background-size: cover;
  position: relative; }

.section {
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden; }

section {
  display: block; }

* {
  box-sizing: border-box; }

body {
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-family: Ubuntu,Helvetica,sans-serif;
  font-weight: 300;
  color: #2f3234; }

.team__section {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding: 5% 2% 0 7%; }
  @media screen and (max-width: 760px) {
    .team__section {
      left: 0%; } }

div {
  display: block; }

.team .section__title {
  margin-bottom: 12%; }

.section__title {
  color: #f9b43b;
  font-size: 4.5rem;
  font-family: Gagalin-Regular,Helvetica,sans-serif;
  margin-bottom: .75rem; }

ul {
  padding: 0;
  margin: 0; }

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px; }

@media screen and (max-width: 760px) {
  .team-acco {
    padding: 0 14%; } }

.team-acco__item {
  margin-bottom: 2.5rem; }

ul li {
  list-style: none; }

li {
  display: list-item;
  text-align: -webkit-match-parent; }

.team-acco__trigger {
  color: #fff;
  font-size: .875rem;
  font-family: Gagalin-Regular,Helvetica,sans-serif;
  text-decoration: none;
  position: relative;
  display: block;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 760px) {
    .team-acco__trigger {
      display: inline-block; } }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

.team-acco__trigger:after, .team-acco__trigger:before {
  border-left: .3125rem solid transparent;
  border-right: .3125rem solid transparent; }

.team-acco__trigger:before {
  border-top: .4375rem solid #f9b43b;
  border-bottom: 0 solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .3s; }

.team-acco__trigger:after, .team-acco__trigger:before {
  content: "";
  display: block;
  position: absolute;
  left: -1.125rem;
  top: .5rem;
  width: 0;
  height: 0; }

.team-acco__content {
  display: none; }
  @media screen and (max-width: 760px) {
    .team-acco__content {
      flex-direction: column;
      align-items: center; } }

.team-acco__pic, .team-acco__text {
  float: left; }

.team-acco__pic {
  text-align: center;
  width: 30%; }

.team-acco__img {
  display: inline-block;
  vertical-align: top;
  width: 6.25rem;
  height: 6.25rem;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%; }

.team-acco__text {
  width: 70%; }
  @media screen and (max-width: 760px) {
    .team-acco__text {
      text-align: left; } }

.team-acco__text-content, .team-acco__title {
  font-family: Ubuntu,Helvetica,sans-serif;
  font-size: .875rem;
  color: #fff; }

.team-acco__title {
  font-weight: 700;
  margin-bottom: .875rem; }

.team-acco__text-content {
  font-weight: 300; }

.team-acco__text-content, .team-acco__title {
  font-family: Ubuntu,Helvetica,sans-serif;
  font-size: .875rem;
  color: #fff; }

.menu-acco:after, .menu-acco:before, .nav__list:after, .nav__list:before, .team-acco__content:after, .team-acco__content:before {
  content: "";
  display: table; }

.menu-acco:after, .nav__list:after, .team-acco__content:after {
  clear: both; }

.menu-acco:after, .menu-acco:before, .nav__list:after, .nav__list:before, .order__form:after, .order__form:before, .team-acco__content:after, .team-acco__content:before {
  content: "";
  display: table; }

/*# sourceMappingURL=team.css.map */
