.best {
    background: url(../img/bg/best.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-position: 50%;
    @include phones-375  {
        background-size: auto;
    }
    @include phones {
        background:url(../img/background/best_iphone.jpg) no-repeat;
        background-size: cover;
        align-items: flex-start;
        padding-top: 3.125rem;
    }
        @include tablets {
            background: url(../img/background/best_ipad.jpg) no-repeat;}
}

.section__title.section__title_black {
    color: #2f3234;
}

.section__title {
    @include phones-375  {
        font-size: 3.4375rem;
    }
}

.best .section__title {
    margin-bottom: 5rem;
    @include phones-375  {
        margin-bottom: 0.625rem;
    }
    @include tablets {
        margin-bottom: 2.5rem;
    }
}

.best__item,
.best__list {
    display: -webkit-box;
    display: flex;
}

@media screen and (max-width: 760px) {
    .best__list {
        flex-direction: column;
    }
}

.best__icon{
    @include phones{
        position: static;
    transform: none;}


}

.best__icon-pic {
    width: 90%;
    height: 6.25rem;
}

.best__title {
    font-size: 1.5rem;
    font-family: Lifehack-Medium;
    color: #2f3234;
    margin-bottom: 1.25rem;
}

@media screen and (max-width: 480px) {
    .best__desc {
        text-align: left;
    }
}


.best__item {
    margin-bottom: 3.125rem;
    padding: 0 .9375rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    @include phones-375  {
        margin-bottom: 0.625rem;
    }
}

@media screen and (max-width: 480px) {
    .best__item {
        flex-direction: row;
    }
}

.best__item .container {
    margin: 0 auto;
    position: relative;
    width: 68.75rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.best__item .text-block p {
    font-size: .875rem;
    line-height: 1.8;
}

.best__item p {
    padding: 0;
    margin: 0;
}

.best__item * {
    box-sizing: border-box;
}

.best__item .reviews {
    background: #000;
}

.best__item article,
.best__item aside,
.best__item details,
.best__item figcaption,
.best__item figure,
.best__item footer,
.best__item header,
.best__item main,
.best__item menu,
.best__item nav,
.best__item section,
.best__item summary {
    display: block;
}

.best__item .reviews__list {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}

.best__item .reviews__item {
    width: 25%;
    height: 50%;
    position: relative;
}

@media screen and (max-width: 760px) {
    .best__item .reviews__item {
        width: 50%;
        height: 25%;
    }
}


.best__item ul li {
    list-style: none;
}

.best__item .review {
    position: relative;
    width: 100%;
    height: 100%;
}

.best__item .review__photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.best__item .review__hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    padding: 17% 12% 0;
    transition: .3s;
    z-index: 1;
}

@media screen and (max-width: 760px) {
    .best__item .review__hover {
        padding-top: 6%;
    }
}

.best__item .review__title {
    color: #fff;
    font-family: Gagalin-Regular, Helvetica, sans-serif;
    font-size: .875rem;
    margin-bottom: 1.5625rem;
}


.best__item .review__shorttext {
    font-size: .875rem;
    font-weight: 300;
    margin-bottom: .8125rem;
}

@media screen and (max-width: 480px) {
    .best__item .review__shorttext {
        display: none;
    }
}

.best__item .review__view {
    border-radius: .3125rem;
    background-color: #2f3234;
    padding: .5rem .75rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .75rem;
    transition: .3s;
}

.best__item .review__shorttext,
.best__item .review__view {
    color: #fff;
    font-family: Ubuntu, Helvetica, sans-serif;
}

.best__item .review:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    transition: .3s;
}

.best__text text-block {
    @include phones {
        text-align: left;
    display: block;
    width: 65%;
    }
}