.burgers {
    background: #f9b43b;
    background: linear-gradient(180deg, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9b43b", endColorstr="#f9b43b", GradientType=0);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.burger-slider-wrap {
    position: relative;
    padding: 1.25rem 0;
}

.burger-slider__btn_next {
    right: -1.25rem;
   
    @include phones {
    right: -0.625rem;}
    @include tablets {
        right: -0.625rem;
    }
}

.burger-slider__btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1.875rem;
    height: 1.25rem;
    fill: #fff;
    z-index: 2;
}

.burger-slider__btn_next svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.burger-slider__btn_prev svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.burger-slider__arrow {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.burger-slider__btn_prev {
    left: -1.25rem;
    @include phones {
        right: -0.625rem;}
        @include tablets {
            right: -0.625rem;
        }
}


.burgers-slider__item {
    position: relative;
    padding-bottom: 5.3125rem;
    display: -webkit-box;
    display: flex;
}

.burger-weight {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .5;
    @include tablets{
        top: 0;
        right: 0;
      bottom: auto;
      left: auto;}
}


.burger-weight__measure {
    background: url(../img/icons/kkal.svg) 50% no-repeat;
    width: 4.0625rem;
    height: 3.75rem;
    position: relative;
    background-size: contain;
}

.burger-weight__amount,
.burger-weight__title {
    text-align: center;
    color: #fff;
    font-family: Gagalin-Regular, Helvetica, sans-serif;
}

.burger-weight__amount {
    position: absolute;
    bottom: .5rem;
    left: 0;
    right: 0;
    font-size: 1.25rem;
}

.burger-weight__title {
    font-size: .875rem;
}

.burgers-slider__left {
    text-align: center;
    -webkit-box-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.burgers-slider__left,
.burgers-slider__right {
    -webkit-box-flex: 1;
    flex: 1;
}



.burgers-slider__pic {
    max-width: 98%;
    max-height: 18.75rem;
    width: auto !important;
}



.burgers-slider__right 
.section__title {
    line-height: 1.1em;
}

.burgers-slider__text {
    color: #fff;
    margin-bottom: 1.125rem;
}


.text-block p {
    font-size: .875rem;
    line-height: 1.8;
}



.burgers-slider__price {
    display: inline-block;
    vertical-align: middle;
    color: #e35028;
    font-family: Gagalin-Regular,Helvetica,sans-serif;
}
.burgers-slider__price-amount {
    font-size: 4.5rem;
}
.burgers-slider__price-amount, 
.burgers-slider__price-measure {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
}
.burgers-slider__price-measure {
    font-size: 1.875rem;
}

.burgers-slider__buy {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 2rem;
}

#slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

