.hero {
    background: url(../img/bg/back.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
    @include desktop{
        background-size: auto 100%;
      }
      @include tablets {
        padding-bottom: rem(25px);
      }
}



.logo {
    display: inline-block;
    position: relative;
    z-index: 4;
}

.header__logo {
    @include tablets {
        margin-right: auto;
    }
}

.header__menu {
    -webkit-box-flex: 1;
    flex: 1;
    text-align: right;
    margin-right: 1.25rem;
    @include tablets {
        display: none;
    }
}


.header{
    display: flex;
    padding-top: .75rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    @extend %clearfix;
}



.order-link {
 min-width: 5.3125rem;
}



.hamburger-menu-link {
    vertical-align: middle;
    position: relative;
    height: 1.375rem;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 1.875rem;
    display: none;
    @include tablets {
        display: flex;
    }
}

.hamburger-menu-link__bars,
.hamburger-menu-link__bars:after,
.hamburger-menu-link__bars:before {
    background: #fff;
    width: 1.5rem;
    height: .3125rem;
    border-radius: .1875rem;
}

.hamburger-menu-link__bars:before {
    top: 0;
}



.hamburger-menu-link__bars,
.hamburger-menu-link__bars:after,
.hamburger-menu-link__bars:before {
    background: #fff;
    width: 1.5rem;
    height: .3125rem;
    border-radius: .1875rem;
}

.hamburger-menu-link__bars:after {
    bottom: 0;
}

.hamburger-menu-link__bars:after,
.hamburger-menu-link__bars:before {
    content: "";
    display: block;
    position: absolute;
}


.hero__container {
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 15%;
    width: 95%;
    
}

@media screen and (max-width: 760px) {
    .hero__container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .hero__container {
        padding: 0 10%;
    }
}

.hero__container,
.hero__content {
    display: -webkit-box;
    display: flex;
}

.hero__content {
    display: flex;
    @include tablets {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    @include phones {
        padding-top: 0 10;
    }
}

.hero__img {
    max-width: 80%;
    max-height: 100%;
}

.hero__right {
    margin-top: 7.1875rem;
    @include tablets {
        text-align: center;
        padding: rem(30px) 20% 0;
      }
      @include phones {
        padding: 0 3%;
      }
}

.hero__left{
    @include phones {
        height: rem(230px);
      }
}

.hero__left,
.hero__right {
    width: 50%;
    @include tablets {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .hero__left,
    .hero__right {
        width: 100%;
    }
}

.hero__desc {
    font-size: 4.0625rem;
    color: #fff;
    font-family: Lifehack-Medium;
    text-transform: lowercase;
    line-height: 1em;
}

.down-arrow {
    width: rem(60px);
    transition: .3s;
    height: rem(60px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
    outline: 0;
    &:hover {
      .down-arrow__icon {
        margin-top: -10px;
        width: rem(40px);
        height: rem(40px);
      }
    }
  }
  
  .down-arrow__icon {
    width: rem(35px);
    height: rem(35px);
    transition: .3s;
    fill: #fff;
  }


  .hamburger-menu-link {
    vertical-align: middle; 
    height: 22px;
    align-items: center;
    margin-left: 30px;
    display: none;
    @include tablets {
      display: flex;
      position: fixed;
      top: 2.2rem;
      right: 2.2rem;
      z-index: 2;
    }
    @include phones(){
      top: 2.4rem;
      right: 1.2rem;
    }
  }
  .hamburger-menu-link__bars {
    &, &:before, &:after {
      background: #fff;
      width: 24px;
      height: 5px;
      border-radius: 3px;
      z-index: 100;
      cursor: pointer;
      transition: transform .25s ease;
    }
    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }
  .hamburger-menu-link.is-active .hamburger-menu-link__bars{
    background: transparent;
    &:before {
      transform: translateY(10px) translateX(0) rotate(45deg);
      border-radius: 5px; }
    &:after {
      transform: translateY(-7px) translateX(0) rotate(-45deg);
      border-radius: 5px; }
  }
  .hamburger-menu {
    position: absolute;
    left: -99999px;
    right: 0;
    background: rgba(#2f3234, .95);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10;
    transition: opacity .3s;
    &.is-active{
      display: flex;
      opacity:1;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1;
    }
  }
  
  @keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
      opacity: 0;
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  .slideInUp, .slideInUp:after{
    animation: slideInUp .3s;
  }